.card {    
    position:relative;
    transform-style: preserve-3d;
    transition:all 0.5s ease; 
    width:180px;
   height:200px;

}
.cardBack, .cardFront {
    position: absolute;
    width:100%;
   height:100%;
    backface-visibility: hidden;
}
.cardBack {    
    background-color:#424642;
    color:#C06014;    
    font-weight: bold;
    text-align: center;    
}
.cardFront {    
    background-color:#536162;
    font-size: 80px;    
    font-weight: bold;
    text-align: center;
    transform:rotateY(180deg);             
}
.flipCard {
    transform:rotateY(180deg);
}